 <div style="color: white">
    <h2> Our History</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat sapien eget enim euismod, vel facilisis arcu porttitor. 
        <br>Vivamus vehicula, risus ut tempor finibus, felis turpis venenatis metus, elementum accumsan nisl arcu varius arcu. 
        <br> Sed non enim vulputate, pellentesque diam ac, vehicula ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        <br> Mauris at sodales erat. Mauris orci mauris, gravida efficitur sodales malesuada, convallis sit amet lectus. 
        <br> Donec dictum egestas lectus, id pretium enim tristique a. Morbi ac orci mattis, consectetur orci ut, aliquet odio. 
        <br> Sed auctor ut est eget vehicula. Suspendisse ultricies nisi justo, in rutrum ligula tincidunt quis. Etiam auctor sit amet leo in tincidunt.
        <br>Fusce tristique lorem ligula, vitae lacinia ex viverra ut. Nam vel nibh vitae velit fringilla fermentum.
    </p>
 </div>

 