<div style="color: white;">
    <h2> Welcome to Fast Pizza </h2>
    <br>


    {{> legal}}

    {{> links linkData = links}}

    {{> news}}
    <h2>Gallery</h2>
    <img src= "/images/pizza1.jpg" class="img-fluid" style=" width: 100%;" >
    <img src= "/images/pizza2.jpg" class="img-fluid" style=" width: 100%;">
</div>
