<br>
<ol class="list-group list-group-numbered">
{{#each ShoppingList}}
{{#if this.number}}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{this.name}}</div>
      {{this.Ingredients}} <br>
      {{this.Prix}}€
    </div>
    <span class="badge bg-primary rounded-pill">{{this.number}}</span>
</form>
  </li>
  {{/if}}
{{/each}}
<br>
<button type="button" class="btn btn-dark" onClick="Pay()">Pay</button>

</ol>


<script>

  var total = localStorage.getItem('total');
    total = +total + +ShoppingList.Prix;
    localStorage.setItem('total', total);
    let n = total.toFixed(2);
    document.getElementById("total").innerHTML = "€" + n;


  function Pay(str) {
    alert("Not implemented yet");
    }
</script>