<aside class="legals">

    <footer>
        <p>legal terms</p>  
        &copy Paul Roost
        <a href='/files/tandc.pdf' download >
        Download our terms and conditions</a> 
    </footer>

</aside>
